/* style.css */

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.gradient-background {
    width: 587px;
    height: 1032px;
    left: 853px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, rgba(180, 146, 253, 0.30) 0%, rgba(173, 78, 245, 0.95) 100%);
}

.image-container {
    width: 407px;
    height: 505px;
    left: 970px;
    top: 259px;
    position: absolute;
    background: url("../assets/dev_photo.png");
    border-radius: 0;
    border: none;
}

.overlay {
    width: 452px;
    height: 603px;
    left: 216px;
    top: 217px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
}

.white-box {
    width: 567px;
    height: 734px;
    left: 153px;
    top: 144px;
    position: absolute;
    opacity: 0.70;
    background: white;
    box-shadow: 20px 20px 60px rgba(93.50, 93.50, 93.50, 0.15);
}

.title {
    width: 400px;
    height: 57px;
    left: 216px;
    top: 217px;
    position: absolute;
    color: #1D1D1D;
    font-size: 36px;
    font-family: Montserrat Alternates;
    font-weight: 600;
    word-wrap: break-word;
}

.google-logo {
    width: 40px;
    height: 41px;
    left: 232px;
    top: 311px;
    position: absolute;
    background: url("../assets/google_photo.png");
    background-size: cover;
}

.google-text {
    width: 140px;
    height: 27px;
    left: 281px;
    top: 318px;
    position: absolute;
    color: #1D1D1D;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.apple-logo {
    width: 40px;
    height: 47.62px;
    left: 485px;
    top: 304px;
    position: absolute;
    background: url("../assets/Apple_logo_black.svg");
    background-size: cover;
}

.apple-text {
    width: 205px;
    height: 32px;
    left: 535px;
    top: 318px;
    position: absolute;
    color: #1D1D1D;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.box-google{
    width: 205px; 
    height: 70px; 
    left: 216px; 
    top: 296px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0); 
    border-radius: 12px; 
    border: 1px #1D1D1D solid;
}

.box-apple{
    width: 205px; 
    height: 70px; 
    left: 463px; 
    top: 296px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0); 
    border-radius: 12px; 
    border: 1px #1D1D1D solid;
}

.input-box {
    width: 452px;
    height: 67px;
    position: absolute;
    background: rgba(244, 241, 255, 0);
    border-radius: 12px;
    border: 1px #1D1D1D solid;
}

.email-label {
    width: 199px;
    height: 37px;
    left: 243px;
    top: 473px;
    position: absolute;
    color: #6667B0;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.email-tag{
    width: 205px; 
    height: 32px; 
    left: 216px; 
    top: 426px; 
    position: absolute; 
    color: #1D1D1D; 
    font-size: 25px; 
    font-family:  Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}

.box-email{
    width: 452px; 
    height: 67px; 
    left: 216px; 
    top: 458px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0); 
    border-radius: 12px; 
    border: 1px #1D1D1D solid;
}

.password-label {
    width: 205px;
    height: 32px;
    left: 216px;
    top: 547px;
    position: absolute;
    color: #1D1D1D;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.password-box {
    width: 452px;
    height: 67px;
    left: 216px;
    top: 579px;
    position: absolute;
    background: rgba(244, 241, 255, 0);
    border-radius: 12px;
    border: 1px #1D1D1D solid;
}

.login-button {
    width: 452px;
    height: 67px;
    left: 216px;
    top: 697px;
    position: absolute;
    background: #6B43FF;
    border-radius: 12px;
}

.login-text {
    width: 381px;
    height: 59px;
    left: 252px;
    top: 701px;
    position: absolute;
    text-align: center;
    color: #F4F1FF;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
}

.password-text{
    width: 221px; 
    height: 42px; 
    left: 243px; 
    top: 591px; 
    position: absolute; 
    color: #6667B0; 
    font-size: 25px; 
    font-family: Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}

.account-text {
    width: 321px;
    height: 47px;
    left: 353px;
    top: 773px;
    position: absolute;
    text-align: right;
    color: #6B43FF;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.separator-left {
    width: 205px; 
    height: 0px; 
    left: 216px; 
    top: 391px; 
    position: absolute; 
    border: 1px #6667B0 solid;
}

.separator-right{
    width: 205px; 
    height: 0px; 
    left: 463px; 
    top: 391px; 
    position: absolute; 
    border: 1px #6667B0 solid;
}

.or-text {
    width: 54px;
    height: 44px;
    left: 431px;
    top: 375px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}
